<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

<div class="container">
  <textarea name="" id="" cols="30" rows="10"><%= JSON.stringify(rows, null, 4) %></textarea>
</div>

<%- include('../parts/scripts') %>
<%- include('../parts/html-foot') %>
